body {
    height: 100vh;
    background-image: linear-gradient(0deg, rgb(213, 232, 240) 7%, rgb(255, 255, 255) 100%);
 
    }

.container{
    width: 100%;
}


header{
    background-color: rgb(213, 232, 240);
    font-size: large;
    text-align: center;
}

img{
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-around;
}
#cardsHolder{
    align-content: space-between;
}
.column{
    padding-left: 0; 
 } 

.cityFont{
    font-size: 30px;
}

.card-body{
    align-content: space-between;
}

.card{
    border-radius: 0;
    
}


.cardForecast{
    align-content: space-around;
}

.header{
    padding: 0.5rem;
    background-color: rgb(213, 232, 240);
    height: 150px;
}


.btn {
    background-color: rgb(94, 119, 125);
    color:white;
    font-size: 15px;
    margin-left:10px;
    padding: 5px;
}

#article-section{
    padding: 20px;
}

@media (min-width: 576px){
    .cardDeck .card {
       
        margin-bottom: 0;
        margin-left:0;
    }
    
    }
 @media (max-width: 770px) {
    .column {
        padding-left: 15px;
    }
 }  

 .green{
    background-color:  #3ea72d;
    font-size: 20px;
    color: white;
    padding: 8px;
    border-radius: .25rem;
}
.yellow{
    background-color: #e7de2b;
    font-size: 20px;
    color: white;
    padding: 8px;
    border-radius: .25rem;
}
.orange{
    background-color: #f18b00;
    font-size: 20px;
    color: white;
    padding: 8px;
    border-radius: .25rem;
}
.red{
    background-color: rgb(199, 59, 34);
    font-size: 20px;
    color: white;
    padding: 8px;
    border-radius: .25rem;
}
.violet{
    background-color: rgb(247, 100, 247);
    font-size: 20px;
    color: white;
    padding: 8px;
    border-radius: .25rem;
}